<h2 class="text-center mb-4">
  Uçuş Listesi - {{ type === 'arrivals' ? 'İnişler' : 'Kalkışlar' }}
</h2>

<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">Uçuş Numarası</th>
        <th scope="col">Kalkış Havalimanı</th>
        <th scope="col">Varış Havalimanı</th>
        <th scope="col">Fiyat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights" class="align-middle">
        <td>{{ flight.flightNumber }}</td>
        <td>{{ flight.departureAirport?.name }}</td>
        <td>{{ flight.arrivalAirport?.name }}</td>
        <td>{{ flight.price }}$</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-end mt-4">
  <button class="btn btn-primary" 
          style="width: 120px; height: 50px; font-size: 14px;" 
          (click)="goToAddFlight()">
    Uçuş Ekle
  </button>
</div>
