<h2>Uçuş Rotası</h2>

<div class="card mb-3" *ngIf="flightroute">
  <div class="card-header">
    <h5 class="card-title">Uçuş Numarası: {{ flightroute.id }}</h5>
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Kalkış Havalimanı:</strong> {{ flightroute.source?.name }}</p>
    <p class="card-text"><strong>Varış Havalimanı:</strong> {{ flightroute.destination?.name }}</p>
    <p class="card-text"><strong>Yükseklik:</strong> {{ flightroute.distanceInMiles }} feet</p>
  </div>
</div>
