<div class="col-md-8 offset-md-2 mt-5">
    <div class="card shadow-lg border-0">
      <div class="card-header bg-primary text-white text-center">
        <h4>Yeni Uçuş Ekle</h4>
      </div>
      <div class="card-body p-4">
        <form (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="flightNumber" class="form-label">Uçuş Kodu</label>
              <input
                type="text"
                class="form-control border-primary"
                id="flightNumber"
                placeholder="Uçuş kodunu girin"
                [(ngModel)]="createflightdto.flightNumber"
                name="flightNumber"
                required
              />
            </div>
  
            <div class="col-md-6">
              <label for="routeId" class="form-label">Rota</label>
              <select
                class="form-control border-primary"
                id="routeId"
                [(ngModel)]="createflightdto.routeId"
                name="routeId"
                required
              >
                <option value="" disabled>Rota seçin</option>
                <option *ngFor="let route of routes" [value]="route.id">
                  {{ route.source?.name }} ve {{ route.destination?.name }}
                </option>
              </select>
            </div>
          </div>
  
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="arrivalAirportId" class="form-label">İniş Havaalanı</label>
              <select
                class="form-control border-primary"
                id="arrivalAirportId"
                [(ngModel)]="createflightdto.arrivalAirportId"
                name="arrivalAirportId"
                required
              >
                <option value="" disabled>Havaalanı seçin</option>
                <option *ngFor="let airport of airports" [value]="airport.id">
                  {{ airport.name }}
                </option>
              </select>
            </div>
  
            <div class="col-md-6">
              <label for="departureAirportId" class="form-label">Kalkış Havaalanı</label>
              <select
                class="form-control border-primary"
                id="departureAirportId"
                [(ngModel)]="createflightdto.departureAirportId"
                name="departureAirportId"
                required
              >
                <option value="" disabled>Havaalanı seçin</option>
                <option *ngFor="let airport of airports" [value]="airport.id">
                  {{ airport.name }}
                </option>
              </select>
            </div>
          </div>
  
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="price" class="form-label">Uçuş Ücreti</label>
              <input
                type="number"
                class="form-control border-primary"
                id="price"
                placeholder="Ücreti girin"
                [(ngModel)]="createflightdto.price"
                name="price"
                required
              />
            </div>
  
            <div class="col-md-6">
              <label for="capacity" class="form-label">Koltuk Sayısı</label>
              <input
                type="number"
                class="form-control border-primary"
                id="capacity"
                placeholder="Koltuk sayısını girin"
                [(ngModel)]="createflightdto.capacity"
                name="capacity"
                required
              />
            </div>
          </div>
  
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="departureTime" class="form-label">Kalkış Tarihi</label>
              <input
                type="datetime-local"
                class="form-control border-primary"
                id="departureTime"
                [(ngModel)]="createflightdto.departureTime"
                name="departureTime"
                required
              />
            </div>
  
            <div class="col-md-6">
              <label for="arrivalTime" class="form-label">İniş Tarihi</label>
              <input
                type="datetime-local"
                class="form-control border-primary"
                id="arrivalTime"
                [(ngModel)]="createflightdto.arrivalTime"
                name="arrivalTime"
                required
              />
            </div>
          </div>
  
          <div class="d-grid">
            <button class="btn btn-lg btn-success shadow-sm" type="submit">
              Uçuş Ekle
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  