<h2>Uçuş Listesi</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Uçuş Numarası</th>
            <th>Kalkış Havaalanı Kodu</th>
            <th>Kalkış Havaalanı Adı</th>
            <th>Kalkış Şehri</th>
            <th>Kalkış Ülkesi</th>
            <th>Varış Havaalanı Kodu</th>
            <th>Varış Havaalanı Adı</th>
            <th>Varış Şehri</th>
            <th>Varış Ülkesi</th>
            <th>Fiyat</th>
            <th>Koltuk Sayısı</th>
            <th>Durum</th>
            <th>Rota</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Uçuşlar Listesi -->
        <tr *ngFor="let flight of flights; let i = index">
            <td>{{flight.flightNumber}}</td>
            <td>{{flight.departureAirport?.code}}</td>
            <td>{{flight.departureAirport?.name}}</td>
            <td>{{flight.departureAirport?.city}}</td>
            <td>{{flight.departureAirport?.country}}</td>
            <td>{{flight.arrivalAirport?.code}}</td>
            <td>{{flight.arrivalAirport?.name}}</td>
            <td>{{flight.arrivalAirport?.city}}</td>
            <td>{{flight.arrivalAirport?.country}}</td>
            <td>{{flight.price}}$</td>
            <td>{{flight.capacity}}</td>
            <td>{{flight.status}}</td>
            <td>
                <button type="button" class="btn btn-outline-success" (click)="goToRoute(flight.id!)">
                  Uçuş Rotası
                </button>
              </td>
              
            <td>
                <div class="btn-group">
                <button type="button" class="btn btn-info" (click)="updateFlight(flight.id!)">Düzenle</button>
                <button (click)="deleteFlight(flight.id!)" class="btn btn-danger" style="margin-left: 10px;">Sil</button>
            </div>
            </td>
            
    </tbody>
</table>

<div class="text-end mt-3">
    <button class="btn btn-primary" 
            style="width: 80px; height: 60px; font-size: 12px; padding: 0;" 
            (click)="goToCreateFlight()">
      Uçuş    
      Ekle
    </button>
  </div>
